
.button-container {

}

button {
    padding: 0.5rem 1rem;
    border: transparent;
    box-shadow: var(--d-box-shadow-sm);
    border-radius: 4px;
    align-items: center;
    color: var(--d-color);
    background-color: var(--d-background-color);
    cursor: pointer;
}

    button:hover:not(:disabled) {
        background-color: hsl(0, 0%, calc(var(--d-lum-background-color) - 3%));
    }

    button[type="submit"] {
        color: var(--d-background-color);
        background-color: hsl(137, 61%, 37%);
    }

        button[type="submit"]:hover:not(:disabled) {
            background-color: hsl(137, 61%, 27%);
        }

    button[type="reset"] {
        color: var(--d-background-color);
        background-color: hsl(0, 100%, 50%);
    }

        button[type="reset"]:hover:not(:disabled) {
            background-color: hsl(0, 100%, 40%);
        }

    button:active:not(:disabled) {
        transform: translate(0em, 0.15em);
    }

    button:disabled {
        background-color: hsl(0, 0%, calc(var(--d-lum-background-color) - 20%));
        cursor: not-allowed;
        opacity: 0.7;
        box-shadow: none;
        color: var(--d-background-color);
    }

.button-content {
    pointer-events: none;
    display: flex;
    gap: 0.5rem;
}